<!-- your html code here -->
<div class="d-flex p-5 m-5"> 
    <div>
        <h1 class="mt-5">The First Heading <span class="text-secondary"> Will Catch Your Eye </span> </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nihil aspernatur odit accusantium quis culpa quos quo laborum eveniet magni repellendus dolorem cupiditate harum, a ut adipisci, incidunt molestiae ullam eligendi assumenda veritatis quibusdam voluptatum placeat. Et, obcaecati. Est vero quas ipsum! Illum distinctio debitis laborum qui omnis laboriosam quod animi quia corporis possimus, beatae sunt aut, minus ratione enim, tempore saepe. Aperiam at veniam, culpa animi molestiae repellat libero inventore vero enim! Veniam beatae labore culpa magni voluptatem asperiores illum at officia aperiam eos, aspernatur architecto cumque deleniti delectus quas pariatur. Itaque, fuga. Repellendus suscipit ut harum quisquam dolorem!</p>
    </div>
    <img src="https://img.freepik.com/vector-gratis/ilustracion-personaje-dibujos-animados-grumpy-man_1308-164933.jpg" alt="" style="width: 300px; height: 300px;" class="rounded-circle">
</div>
